<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>404</title>
        <link rel="icon" href="./images/weather.png">
        <link rel="stylesheet" href="./css/master.css">

    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <p>404 {{message}}</p>
        </div>
        {{>footer}}

    </body>
</html>
